<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jessitron.telgame"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/whispericon"
        android:label="@string/app_name" >
        <activity
            android:name=".TelephoneGameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadingActivity"
            android:label="Your turn to read" />
        <activity
            android:name=".ViewGamesActivity"
            android:label="Past games" />
        <activity android:name=".ReadingListActivity" />
    </application>

</manifest>